@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Spectral|Spectral+SC');

.header {
    display: grid;
    grid-template-columns: 300px auto auto 100px;
    grid-template-rows: 100px 30px;
    grid-auto-flow: column;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    background-color: #666666;

}

.menu-button {
    grid-row: 2;
    font-family: 'Spectral SC', serif;
}

.call {
    grid-column: 4;
    grid-row: 1;
    text-align: center;
    font-family: 'Spectral', serif;
}

.callNumber {
    grid-column: 4;
    text-align: center;
    font-family: 'Spectral SC', serif;
}

.App-logo {
    grid-column: 1;
    max-height: 100px;

}

.title {
    grid-column: 1;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: x-large;
}

