@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Spectral|Spectral+SC');

.header {
    display: grid;
    grid-template-areas:    "left top top right-top"
                            "left mid-left mid-right right-bot";
    background-color: #666666;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    align-items: center;
}

.left {
    grid-area: left;

}

.mid-left {
    grid-area: mid-left;
    justify-self: center;

}

.mid-right {
    grid-area: mid-right;
    justify-self: center;
}

.button {
    font-family: 'Spectral SC', serif;
    padding: 0.35em 1.2em;
    display: inline-block;
    border: 0.1em solid black;
    background-color: #666666;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: all 0.5s;
}

.button:hover {
    color: #666666;
    background-color: #FFFFFF;
}

.call {
    grid-area: right-top;
    align-self: end;
    text-align: end;
    font-family: 'Spectral', serif;
}

.callNumber {
    grid-area: right-bot;
    justify-self: end;
    font-family: 'Spectral', serif;
}

.App-logo {
    grid-area: left;
    block-size: 120px;
}

.title {
    grid-area: top;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: large;
}

